{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": ["error", "global"],
    "generator-star-spacing": 1,
    "babel/new-cap": 1,
    "object-shorthand": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": [0],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "no-underscore-dangle": [ 2, { "allowAfterThis": true } ]
  },
  "plugins": [
    "babel",
    "react"
  ]
}
